<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs"> @ViewBag.v2 </h1>

                <h3 class="font-bold no-margins">
                    En çok yorum yapılan içeriktir.  
                    </h3>
          
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">@ViewBag.v1</h1>

                <h3 class="font-bold no-margins">
                  En çok içeriği olan kategoridir.
                </h3>
       
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">@ViewBag.v3</h1>

                <h3 class="font-bold no-margins">
                  En çok içerik üreten yazar.
                </h3>
              
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>