@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Yorumlar</h2>

    </div>
    </div>
<div class="ibox ">
 
    <div class="ibox-content">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Yorum Başlığı</th>
                    <th>İçerik ismi</th>
                    <th>Oku</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                
                <tr>
                    <td>@item.CommentID</td>
                    <td>@item.CommentTitle</td>
                    <td>Otto</td>
                    <td><a class="btn btn-dark">Oku</a></td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>

