<footer>
	<div class="container">
		<div class="row">
			
	
			
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
			
				
			</div>
		</div>
	
		<div class="footer-cpy text-center">
		
			<div class="w3layouts-agile-copyrightbottom">
				<p>
					© @DateTime.Now.Year Tüm Hakları Saklıdır | Design by
					<a style="color:white;">Onur Acarsoy</a>
				</p>

			
		</div>

		
	</div>
	</div>
</footer>
