
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OnurAcarsoy</title>

    <link rel="stylesheet" href="~/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writer/assets/vendors/css/vendor.bundle.base.css">
    
    <link rel="stylesheet" href="~/writer/assets/css/style.css">

    <link rel="shortcut icon" href="~/writer/assets/images/favicon.ico" />
 

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    
</head>
<body>
    <div class="container-scroller">

        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="brand-logo" href="/Dashboard/Index/"> <img src="~/writer/assets/images/düzenlmeişlogocore.png" alt="logo" /> </a>
                <a class="navbar-brand brand-logo-mini" href="/Dashboard/Index/"> <img src="~/writer/assets/images/pngwing.com (1).png" alt="logo" /></a>
            </div>
         
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
     
                <ul class="navbar-nav navbar-nav-right">
             
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        
                       @await Component.InvokeAsync("WriterMessageNotification")
                    </li>
                    <li class="nav-item dropdown">
                        
                        </a>
                        @await Component.InvokeAsync("WriterNotification")
                    </li>
                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="/Login/LogOut/">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-format-line-spacing"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
           @await Html.PartialAsync("~/Views/Writer/WriterNavbarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
               @RenderBody()
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                </div>
                <footer class="footer">
                      @await Html.PartialAsync("~/Views/Writer/WriterFooterPartial.cshtml")
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/writer/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/writer/assets/js/dashboard.js"></script>
    <script src="~/writer/assets/js/todolist.js"></script>
   
    <!-- End custom js for this page -->
</body>
</html>